{% extends "base.html" %}

{% block content %}
<section id="contact">
    <div class="container">
        <h2>Contact Me</h2>
        <div class="contact-info">
            <p>Personal Email: <a href="mailto:{{ contact_info.pEmail }}">{{ contact_info.pEmail }}</a></p>
            <p>Work Email: <a href="mailto:{{ contact_info.wEmail }}">{{ contact_info.wEmail }}</a></p>
            <p>Work Website: <a href="{{ contact_info.wWebsite }}" target="_blank">Work Website</a></p>
            <p>LinkedIn: <a href="{{ contact_info.linkedin }}" target="_blank">LinkedIn Profile</a></p>
            <p>GitHub: <a href="{{ contact_info.github }}" target="_blank">GitHub Profile</a></p>
        </div>
        
    </div>
</section>
{% endblock %}